@import url('https://fonts.googleapis.com/css?family=Fondamento|Nunito:300,400&display=swap');
:root {
    --crna: #292f36;    /* rgb(41, 47, 54) */
    --zelena: #4ecdc4;  /* rgb(78, 205, 196) */
    --bela: #fff;
    --crvena: #ff6b6b;  /* rgb(255, 107, 107) */
    --svetlosiva: #ede8e8;
    --transition: .3s ease-in;
}
/*****************
common styles
*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fondamento', cursive;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: var(--crna);
}
button {
    color: var(--crvena);
    background-color: transparent;
    border: 2px solid var(--crvena);
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 1.1rem;
    line-height: 1.3;
    cursor: pointer;
    transition: var(--transition);
}
button:hover {
    background-color: var(--crvena);
    color: var(--bela);
}
.container {
    max-width: 1320px;
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
}
.about, .gallery {
    padding: 80px 0;
}
/*****************
header
*****************/
header {
    background-image: linear-gradient(rgba(41, 47, 54,.87),rgba(41, 47, 54,.87)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header h1 {
    color: var(--bela);
    font-size: 4rem;
}
header p {
    color: var(--svetlosiva);
    font-size: 1.3rem;
    opacity: .8;
    padding: 10px 0 20px;
}

/*****************
about
*****************/
.about {
    background-color: var(--svetlosiva);
}
.about article .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bela);
}
.about article .wrapper:first-child {
    margin-bottom: 80px;
}
.about article .wrapper div:first-child {
    height: 395px;
}
.about img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.about article .wrapper div {
    flex: 0 0 50%;
}
.about article .wrapper div:last-child {
    padding: 0 70px;
}
.about h3 {
    font-size: 2.1rem;
}
.about p {
    padding: 20px 0;
}
.about article .wrapper:nth-child(even) div:first-child {
    order: 1;
}
/*****************
gallery
*****************/
.gallery {
    text-align: center;
}
.gallery h2 {
    font-size: 3rem;
    color: var(--crvena);
    margin-bottom: 50px;
}
.gallery img {
    width: 100%;
    transition: var(--transition);
}
.gallery img:hover {
    transform: scale(1.05);
}
.gallery article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.gallery article div {
    flex: 0 0 21.7%;
}
.gallery button {
    margin: 400px 0 80px;
}
/*****************
contact
*****************/
.contact {
    background-color: var(--crvena);
    text-align: center;
    padding: 70px 0;
}
.contact h2 {
    color: var(--crna);
    font-size: 2.6rem;
}
.contact form {
    width: 50%;
    margin: 40px auto 50px;
    display: flex;
    flex-direction: column;
}
.contact form label {
    text-align: left;
    font-size: 1.1rem;
    padding: 0 0 6px 10px;
}
.contact form input,
.contact form textarea {
    padding: 12px;
    border: 2px solid var(--svetlosiva);
    background: linear-gradient(rgba(255, 255, 255,.3),rgba(255, 255, 255,.3));
    outline: none;
    color: var(--crna);
    margin-bottom: 60px;
    font-size: 1.1rem;
}
.contact form textarea {
    font-family: 'Nunito', sans-serif;
}
.contact input::placeholder,
.contact textarea::placeholder {
    color: #af7878;
    letter-spacing: 1px;
}
.contact div {
    display: inline-block;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: var(--bela);
    line-height: 84px;
    border-radius: 50%;
    margin: 0 20px;
}
.contact a i {
    color: var(--crvena);
    font-size: 2rem;
}